@import url(//fonts.googleapis.com/css?family=Open+Sans);

:root {
  /* Variables */
  --text-color: #555; 
  --highlight-text-color: #738697;
  --basic-margin: 1em;
  --basic-padding: 0.5em;
  --generous-padding: 0.65em;
  font-size: 120%;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem;
  margin: var(--basic-margin);
  padding: var(--basic-padding);
}

header {
  font-size: 1rem;
  font-weight: bold;
  margin: var(--basic-margin);
  padding: var(--basic-padding);
}
main {
  padding: var(--basic-padding);
}

footer {
  font-size: 0.8rem;
  font-weight: normal;
  margin: var(--basic-margin);
  padding: var(--basic-padding);
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}
button {
  font-size: 1rem;
  display: block;
  margin: var(--basic-margin);
  padding: var(--generous-padding);

  width: 45vw;
}
button:focus {
   outline: 1px solid var(--highlight-text-color);
}
button:hover {
   color: var(--highlight-text-color); 
}
p {
  margin: var(--basic-margin);
}
.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--basic-margin);
}

.cards > li {
  flex-basis: 200px; /* width of img container; */
}

.cards li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: calc(var(--basic-margin)/4);
}

/* Fade in/out the different screens */
#screen1, #screen2, #screen3 {
  transition: opacity 0.4s ease-in-out, visibility 0.2s ease-in-out;
}
.inactive {
  visibility: collapse;
  opacity: 0;
  pointer-events: none;
  height: 0
}
.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

/* CSS loading spinner
Adapted from:
URL: https://www.freecodecamp.org/news/how-to-create-a-css-only-loader/
Author: Temani Afif
Date: January 14, 2022
Adapted by Melanie Archer
*/
.loader {
  --b: 20px;  /* border thickness */
  --n: 15;    /* number of dashes*/
  --g: 7deg; /* gap between dashes*/
  --c: #555;   /* the color */
  width: 40px; /* size */
  display: inline-block;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000,var(--c)) content-box;
  --_m: /* we use +/-1deg between colors to avoid jagged edges */
    repeating-conic-gradient(#0000 0deg,
       #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
       #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
    radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: load 1s infinite steps(var(--n));
}
@keyframes load {to{transform: rotate(1turn)}}
